*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: lightgray;
    text-align: center;
    margin: 0 auto;
}
.container{
    width: 60%;
    text-align: center;
    margin: 5rem auto;
}
.container h2{
    margin: 3rem 0;
}
.faq-block{
    position: relative;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2.5rem;
    margin: 1rem;
}
.faq-block .answer{
    position: absolute;
    top: 20px;
    display: none;
}
.faq-block.active .answer{
    display: flex;
    padding: 2.8rem 0;
}

.btn .fa-times{
    display: none;
}
.btn.active .fa-times{
    display: block;
}

.back{
    background-color: white;
}
